<div data-hook="admin_price_list_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= error_message_on :price_list, :name %>
    <% end %>
    <%= f.field_container :internal_name, class: ['form-group'] do %>
      <%= f.label :internal_name %>
      <%= f.text_field :internal_name, class: 'form-control' %>
      <%= error_message_on :price_list, :internal_name %>
    <% end %>
    <%= f.field_container :currency, class: ['form-group'] do %>
      <%= f.label :currency %>
      <%= f.text_field :currency, class: 'form-control' %>
      <%= error_message_on :price_list, :currency %>
    <% end %>
    <%= f.field_container :default, class: ['form-group'] do %>
      <%= f.label :default %>
      <%= f.check_box :default, class: 'form-control' %>
      <%= error_message_on :price_list, :default %>
    <% end %>
  </div>
</div>
