<% content_for :page_title do %>
  <%= Spree.t(:new_price_list) %>
<% end %>

<div data-hook="admin_price_list_new_form_header">
  <%= render 'spree/shared/error_messages', target: @price_list %>
</div>

<div data-hook="admin_price_list_new_form">
  <%= form_for [:admin, @price_list] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', f: f %>
        <%= render 'spree/admin/shared/edit_resource_links' %>
      </div>
    </div>
  <% end %>
</div>
