<%= render 'spree/admin/shared/product_tabs', current: 'Price Lists' %>

<div class="row">
  <% @product.variants_including_master.each do |variant| %>
    <div class="col-md-4">
      <h5><%= variant.sku %> (<%= variant.is_master? ? Spree.t(:master) : variant.options_text %>)</h5>
      <% @price_lists.each do |list| %>
        <div>
          <%= list.name %>:
          <%= variant.price_for(list).display_price %>
        </div>
      <% end %>
      <br><br>
    </div>
  <% end %>
</div>
