<%= f.fields_for :prices do |fp| %>
  <div class="form-group">
    <%= fp.hidden_field :price_list_id %>
    <div class="input-group">
      <div class="input-group-addon"><%= fp.object.price_list.name %></div>
      <%= fp.text_field :amount, :class => 'form-control' %>
      <div class="input-group-addon"><%= fp.object.price_list.currency %></div>
    </div>
  </div>
<% end %>
